<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
<a mat-list-item href="wobble">Wobble</a>
        <a mat-list-item href="walk">Walk</a>
        <a mat-list-item href="trot">Trot</a>
        <a mat-list-item href="gallop">Gallop</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxflex>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Minipupper Controller</span>
      <span class="toolbar-spacer"></span>
      <a class="toolbar-icon help-github-link" href="https://github.com/hdumcke/minipupper_kinematics" target="_blank">
              <fa-icon [icon]="faGithub" [fixedWidth]="true"></fa-icon>
       </a>
      <button mat-icon-button class="toolbar-icon help-icon" aria-label="Icon-button with help icon" (click)="openHelp()">
        <mat-icon>help</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
